<button class="btn btn-outline-primary mb-2 mr-2"
        (click)="openBackDropCustomClass(content)">
  Modal with backdrop custom class
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
<!--ng-template es una directiva de Angular que necesita de un contenedor para
mostrarse-->
<!--#content es un template ref que nos sirve para hacer referencia a un elemento
específico de nuestro template-->
<!--<ng-container *ngTemplateOutlet="greet"></ng-container>
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>-->
