.custom-first-container {
  display: flex;
  justify-content: space-between;

  margin: 10px 0;
}

.custom-first-item {
  padding: 5px 50px;

  border: 1px solid #cccccc;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.custom-first-item-active {
  font-weight: bold;
  color: #ffffff;

  background: #cccccc;
}
